@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-transparent dark:bg-transparent text-textDark dark:text-textLight antialiased font-sans;
}

/* Reset default margins and ensure full-viewport usage */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent any page-level scroll */
}
